* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: rgb(0, 36, 145);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin-bottom: 2rem;
}

.header-block {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.nav-block {
    display: flex;
    height: 3rem;
    width: 25rem;
}

.nav-bar {
    display: flex;
    width: 100%;
}

.nav-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    gap: 5px;
}

li:hover {
    scale: 1.1;
    animation-name: navScale;
    animation-duration: 0.3s;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.sign-block {
    display: flex;
    height: 3rem;
}

.sign-bar {
    display: flex;
    justify-content: flex-end;
}

.sign-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-page {
    margin-top: 70px;
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
}

.last-news-container {
    display: flex;
    width: 100%;
    max-height: 400px;
    align-items: center;
}

.scroller {
    max-width: 100%;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
        transparent,
        white 2%,
        white 98%,
        transparent
    );
    mask: linear-gradient(90deg, transparent, white 2%, white 98%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
        var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 240s;
}

.last-news-card {
    display: flex;
    max-height: 400px;
    max-width: 1000px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
    border-radius: 5px;
    cursor: pointer;
}

.last-news-card:hover {
    animation-name: cardScale;
    animation-duration: 400ms;
    scale: 1.01;
    box-shadow: 0px 0px 15px rgb(160, 160, 160);
    .title {
        text-decoration: underline;
    }
}

.card-image {
    height: 400px;
    object-fit: cover;
    max-height: 400px;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    padding: 20px 30px;
    width: 60%;
}

.title {
    color: rgb(0, 36, 145);
    text-wrap: balance;
}

.card-meta-data {
    font-size: small;
    color: gray;
}

.main-news {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sidebar {
    width: 400px;
    min-width: 400px;
    height: 40rem;
    background-color: aliceblue;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
    border-radius: 5px;
}

.side-title {
    margin-bottom: 1rem;
    font-size: large;
    color: rgb(0, 36, 145);
    cursor: pointer;
}

.side-title:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: xx-large;
    color: red;
    font-weight: bolder;
    background-color: black;
    height: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
    cursor: pointer;
    margin-bottom: 1rem;
}

.ad:hover {
    animation-name: commonScale;
    animation-duration: 300ms;
}

.none-side-block {
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
}

.content-block {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.content-card {
    display: flex;
    flex-direction: column;
    width: 415px;
    min-width: 400px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
    padding: 10px;
    border-radius: 5px;
    height: 545px;
    justify-content: space-between;
    cursor: pointer;
}

.content-card:hover {
    animation-name: cardScale;
    animation-duration: 400ms;
    scale: 1.01;
    box-shadow: 0px 0px 15px rgb(160, 160, 160);
    .title {
        text-decoration: underline;
    }
}

.footer {
    display: flex;
    margin-top: 20px;
    height: 300px;
    width: 100%;
    background-color: rgb(0, 36, 145);
    justify-content: center;
    color: white;
}

.footer-block {
    width: 90%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.social-media {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: space-between;
}

.copyright {
    display: flex;
    flex-direction: column;
    width: 250px;
}

@keyframes navScale {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.1;
        font-weight: bold;
    }
}

@keyframes cardScale {
    0% {
        scale: 1;
    }
    75% {
        scale: 1.015;
    }
    100% {
        scale: 1.01;
    }
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

@keyframes commonScale {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.01;
    }
    100% {
        scale: 1;
    }
}
